$fondBlockPrincipale: rgb(0, 0, 0);
$couleurTexte: rgb(254, 254, 254);
$fonttexte: "inika";

@mixin colorBlock($marginBottom: 16px, $height: 100px){
    background-color: $fondBlockPrincipale;
    color: $couleurTexte;
    padding: 20x;
    margin-bottom: $marginBottom;
    height: $height;
}

@mixin head{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
    margin-bottom: 60px;
}

@mixin menu{
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: center;
    align-items: center;
}


@mixin nondeco{
    text-decoration: none;
    color: white;
    font-weight: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: Inika;
    font-size: 32px;
        
}

@mixin h2{
    color: #FFF;
    font-family: Inika;
    font-size: 75px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

@mixin des{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-left: 60px;  
    margin-right: 100px;
}

@mixin para{
    color: #ffffff;
    font-family: Inika;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@mixin boutonrouge {
    border-radius: 10px;
    background: #92140C;
    width: 148.593px;
    height: 33.697px;
    flex-shrink: 0;
    color: #FFF;
}

@mixin boutonbleu {
    border-radius: 10px;
    background: #1E7BE1;
    width: 148.593px;
    height: 33.697px;
    flex-shrink: 0;
    color: #FFF;
}

@mixin boutonblanc {
    border-radius: 10px;
    background: #ffffff;
    width: 148.593px;
    height: 33.697px;
    flex-shrink: 0;
    color: #000000;
}

@mixin legende{
    color: #FFF;
    text-align: center;
    font-family: Inika;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@mixin SousTitres(){
    font-size: 32px;
    font-weight: normal;
    font-family: Inika;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
 
@mixin Footer{
    font-size: 16px;
    font-weight: normal;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #FFF;
}
 
@mixin hove{
    background-color: #ffc918;
    transition: background-color 0.3s ease, transform 0.2s;
    transform: scale(1.1);
}

